.post-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 2vmin;
}



.post-tile{
    width: 20vmin;
    box-shadow: 0px 1px 3px rgba(0,0,0,.5);
    padding: 1vmin;
    margin: 1vmin;
    text-align: center;
    padding-top: .1vmin;
}

.score{
    float: left;
}